.DS_Store
frontend/micro-ui-internals/node_modules/*
.idea
index.lock
municipal-services/land-calculator/src/main/java/org/egov/create.java
municipal-services/land-calculator/pom.xml
municipal-services/land-calculator/pom.xml
municipal-services/land-calculator/pom.xml
municipal-services/land-calculator/pom.xml
municipal-services/land-calculator/src/main/java/org/egov/FileUploader.java
